:root {
    --padding-padrao: 40px 40px;
    --border-color: 2px solid red;
}


.experiencia {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
    padding: var(--padding-padrao);
}

.experiencia h1 {
    font-size: 7rem;
    word-break: break-all;
    max-width: 5ch;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
}

.conteudo-texto {
    max-width: 40ch;
    font-size: 24px;
    line-height: 1.8rem;
    color: #525252;
}

.projetos {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 10px 0px;
    gap: 10px;
}

.name {
    padding: 10px 0px;
    position: relative;
}

.name::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 20px;
    background: linear-gradient(rgb(175, 251, 34),rgb(92, 246, 36));
    left: -10px;
}

.name p {
    color: #525252;
    font-size: 14px;
}

.name h3, .cargo h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.cargo {
    padding: 10px 0px;

    max-width: 20rem;
}

.linguagens {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    padding-left: 10px;
    font-size: 14px;
}

@media (max-width: 800px) {
    .experiencia {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .experiencia h1 {
        font-size: 5rem;
        word-break: break-all;
        max-width: 15ch;
}
}

@media (max-width: 625px) {
    .experiencia h1 {
        font-size: 4rem;
        word-break: break-all;
        max-width: 15ch;
    }
}